*{
    box-sizing: border-box;

    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    max-width: 100%;
}

@font-face {
    font-family:  'VALORANT';
    src: url("../assets/Font/Valorant\ Font.ttf") format('truetype');
}
@font-face {
    font-family:  'Lemon/Milk';
    src: url("../assets/Font/LemonMilk.otf") format('opentype');
}

.navbar {
    box-sizing: border-box;
    color:white;
    display:flex;
    background-color: black;
    justify-content: center;
    height:90px;
    width: 100%;
    max-width: 100%;
    align-items: center;
    position:absolute;
    top: 0;
    z-index: 999;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.nav__container {
    width: 100%;
    max-width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    margin: 0 auto;    
}

.nav__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center; 
}
.nav__links {
    color: white;
    display: flex;
    align-items : center;
    justify-content: center;
    padding: 0 2rem;
    height: 100%;
}

.nav__item {
    height: 80px;
}
.nav__links:hover{
    color: gray;
}

#nav__logo {
    color: white;
    font-weight: bolder;
    font-size: 1.5rem;
    display: flex;
    align-items : center;
    
}

.logo {
    width: 30px;
    margin:0px 10px ;

}

.nav__btn{
    width: 100%;
    max-width: 100%;
    
}

.button {
    position: sticky;
    padding: 10px 30px;
    width: 100%;
    background-color:white;
    color:black;
    border-radius:30px;
    border-width: green 10px;
}

.button:hover {
    background-color: gray;
    color: white;
    transition: all 0.3s ease 0s;
    border-color: white;
}

/* Hero SECTION */

.hero {
    margin:0;
    padding:0;
    max-width: 100%;

    
    
}
.hero__container {
    width:100vw;
    height: 100vh;
    
}

.hero__object__container {
    display: flex;
    width: 100%;
    max-width:100%;
    justify-content: center;
    align-items: center;
    
    
}

.hero__object{
    display: flex;
    margin: 15px;
    width: 400px;
    height: 250px;
    max-width: 100%;
    position: sticky;
    background-color:black;
    transform-style: preserve-3d;
    justify-content: center;
    align-items: center;
    transform: perspective(1000px);
    transition: all 0.3s ease 0s;
    box-shadow: 10px 10px 20px 3px gray;
}

.object {
    margin: 30px;
    width: 15px;
    top: 0;
    left:0;
    position: absolute;
    transition: all 0.9s ease 0s;
    transform: translateZ(50px);
    transition: all 0.3s ease 0s;
    
}

/* gray base */
.logo1 {
    position: absolute;
    width:55px;
    top:55px;
    transform: translateZ(190px);
}

/* base */
.logo3 {
    position: absolute;
    width:70px;
    top:98px;
    transform: translateZ(250px);

}
/* gold big */
.logo4 {
    position: absolute;
    width:28px;
    top:88px;
    transform: translateZ(250px);

}
/* gold small */
.logo5 {
    position: absolute;
    width:14px;
    top:80px;
    transform: translateZ(290px);

}
/* big ring */
.logo6 {
    position: absolute;
    width:75px;
    top: 67px;
    transform: translateZ(190px);
}
/* top white */
.logo7 {
    position: absolute;
    width:38px;
    top: 50px;
    transform: translateZ(250px);

}
/* smallring */
.logo8 {
    position: absolute;
    width:41px;
    top:70px;
    transform: translateZ(230px);

}
/* silver bits */
.logo9 {
    position: absolute;
    top:65px;
    width:8px;
    transform: translateZ(230px);


}
.radiant__mobile {
    opacity: 0; 
    height: 0;      
}

.valid {
    transform: translateZ(190px);
    font-size: 15px;
    font-family: 'Lemon/Milk', sans-serif;
    position: absolute;
    bottom:60px;
    color: white;
    
}
.valid2 {
    color: white;
    opacity: 30%;
    font-size:60px ;
    position: absolute;
    top: 80px;
    font-family: VALORANT;
}

.valid3 {
    padding: 3px 12px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius:10px;
    color:rgb(231, 153, 8);
    list-style: inside;
    display: flex;
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:300;
    font-size:10px;
    top:36px;
    right:35px;
    transform: translateZ(90px)
}

.circle {
    margin-top:4px;

    padding: 1px 1px;
    width: 7px;
    height:7px;
    border-radius:100%;
    margin-right: 2px;
    background-color:rgb(255, 167, 4);
    
}

.hero__content {
    display:flex;
    flex-direction: column ;
    justify-content:center;
    align-items: center;
    text-align:center;
    width: 100%;
    height:100%;
    max-width: 100%;
    background-color:#dbdbdb;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero__content h4{
    font-size:20px;
    font-family: Roboto;
    font-weight:5;
    line-height: 30px;
    max-width: 100%;
    
    
    
}



.footer__container {
    width:100vw;
    height: 25vh;
    max-width: 100%;
    background-color:black;
    position: absolute;
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}





/* FOOTER SECTION */
.footer__content {
    display:flex;
    width:100%;
    max-width: 100%;
    text-align: center;
    justify-content:space-evenly ;
    align-items: center;
    
    
}

.footer {
    margin:20px auto;
    text-align:center;
    color: gray;
}

#footer1 {
    margin:0 20rem
}

.fooer3 {
    display:flex;
    position: static;
    margin-top:50px;
    opacity: 40%;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    text-align:center;
    
    
}

.footer__iner {
    font-size:13px;
    color: white;
}
.meki {
    margin-top:5px;
    
}
.icon__log {
    margin: 0 3px;
    
}

#instagram {
    
   
    width:20px;
}

#youtube {
    fill: #00ff1e;
    width:25px;
}

 
/* MOBILE VERSION */

@media screen and (max-width:700px) {
    .nav__container{
        justify-content:space-between;
        max-width: 1300px;
        width: 100%;
        padding: 30px;
        display: flex;
        height: 100px;
        transition: all 0.5s ease;
    }

    .nav__menu {
        display:inline-block;
        position: fixed;
        background-color: black;
        height: 100%;
        width: 50%;
        margin-top:100px;
        right: -1000px;
        padding: 700px 10px;
        transition: all 0.5s ease;
    }
    .nav__menu.active{
        transition: all 0.5s ease;
        z-index: 1;
        display:inline-block;
        position: fixed;
        background-color: black;
        height: 100%;
        width: 50%;
        margin-top:100px;
        right: 0px;
        padding: 1000px 10px;
    }
    

    .nav__btn {
        margin-top:20px;
    }

    .navbar__toggle .bar {
        width:25px;
        height: 3px;
        margin: 5px auto;
        
        transition: all 0.3s ease-in-out;
        background:#fff;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;  
    }
    
    #mobile-menu {
        position: absolute;
        top: 20%;
        right:5%;
        transform: translate(5%, 20%);
        z-index: 2;
        
    
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* HERO SECTION MOBILE */

    .hero__object__container {
        flex-direction: column;
        margin-top: 20px;
        
    }

    .hero__content{ 
        width: 100%;
        max-width: 100%;
        justify-content:center;
        align-items: center;
        
    }
    .hero__object {
        margin: 10px;
        width: 300px;
        height: 150px;
        
    }

    .object {
        display: flex;

    }

    #radiant{
        opacity: 0;
        
        
    }

    .radiant__mobile {
        opacity:100;
        width: 40px;
        height:100px;
        position: absolute;
        top: 10px;
        transform: translateZ(100px);
    }

    .valid {
        bottom: 35px;
        transform: translateZ(100px);
        
    }

    .valid2 {
        font-size: 40px;
        top: 50px;
    }

    #footer1 {
        margin: 20px 10px;
    }
        
    .hero__content {
        font-size:10px;
    }
    .hero__content h4 {
        line-height:100%;
        font-size:15px;
    }
    

}